# Vaccination Data:

# Q1

In [5]:
import pandas as pd
import datetime
import numpy as np

In [6]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)

In [7]:
vacc_df['date']=pd.to_datetime(vacc_df.date)
vacc_df['year'] = pd.DatetimeIndex(vacc_df.date).year
vacc_df['month'] = pd.DatetimeIndex(vacc_df.date).month
vacc_df['day'] = pd.DatetimeIndex(vacc_df.date).day

In [8]:
ourmonth= vacc_df[vacc_df.month==7]

In [9]:
ourmonth.reset_index(drop=True, inplace=True)

In [10]:
print('the number of rows in our month is:', ourmonth.shape[0])

the number of rows in our month is: 6770

 # Q2

 daily vaccinations: 
בחרתי לטפל בערכים חסרים על ידי מילוי "0" בכל ערך חסר, מכוון שאני חושבת שייתכן שהיו ימים בהם לא התחסן אף אדם ולכן בחרתי למלא 0 במקום Nan
people_vaccinated_per_hundred:
מכוון שלא ייתכן שלא התחסנו אנשים ביחס ל100 איש, החלטתי למלא ערך ממוצע.

In [11]:
ourmonth[['daily_vaccinations', 'people_vaccinated_per_hundred']].isnull().sum()

daily_vaccinations                  1
people_vaccinated_per_hundred    3050
dtype: int64

daily vaccinations:

בחרתי להשתמש במילוי הערכים החסרים ב'0' מכוון שייתכן שהיו ימים בהם אף אדם לא התחסן.
ניתן להשתמש בשיטת מילוי זו רק עבור הערך daily vaccinations

In [27]:
ourmonth['daily_vaccinations'].fillna(0 , inplace = True)
ourmonth[['daily_vaccinations']]

c:\users\einav\appdata\local\programs\python\python39\lib\site-packages\pandas\core\generic.py:6383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

      daily_vaccinations
0                14115.0
1                12944.0
2                11773.0
3                10602.0
4                 8989.0
...                  ...
6765             54014.0
6766             53512.0
6767             51183.0
6768             48781.0
6769             45242.0

[6770 rows x 1 columns]

 people_vaccinated_per_hundred:
 
מכוון שמספר מתחסנים עבור 100 אנשים מבוסס גם על מידע קודם, לא ייתכן מצב בו מספר המתחסנים ל100 הוא אפס,
בנוסף, מכוון שיש לנו ערכים חסרים כבר מהשורה הראשונה בטבלה בחרתי בשיטת מילוי לפי הערך הבא.

In [13]:
ourmonth[['people_vaccinated_per_hundred']].fillna(method='bfill')

      people_vaccinated_per_hundred
0                              1.87
1                              1.87
2                              1.87
3                              1.87
4                              1.87
...                             ...
6765                          10.51
6766                          10.72
6767                          10.92
6768                          11.07
6769                          11.13

[6770 rows x 1 columns]

# Q3

הצגתי את התאריך והמדינה בה היו מספר המתחסנים הגבוה ביותר.

In [14]:
onlycountry=ourmonth.loc[~ourmonth.iso_code.str.contains('OWID')]

In [15]:
maxdaily=onlycountry.daily_vaccinations.max()

In [16]:
maxmonth=ourmonth.loc[ourmonth['daily_vaccinations']==maxdaily]

In [17]:
maxmonth[['date','location']]

           date location
1257 2021-07-01    China

# Q4

החציון הוא בדיוק המספר האמצעי, לעומת זאת הממוצע הוא החישוב של סך כל המתחסנים חלקי כל הנתונים.
מכוון שיש הרבה מדינות בהן חסרים נתונים, הגיוני שהחציון יהיה נמוך ביחס לממוצע.

In [18]:
print('the mean of daily vaccinations in our month is:', onlycountry['daily_vaccinations'].mean())
print('the median of daily vaccinations in our month is:',onlycountry['daily_vaccinations'].median())

the mean of daily vaccinations in our month is: 168493.63927598912
the median of daily vaccinations in our month is: 7857.0

# Q5

In [19]:
newmonth=onlycountry.loc[onlycountry['location']=='Israel']

In [20]:
israelmean=newmonth.loc[(newmonth.day==1) | (newmonth.day==2)|(newmonth.day==3)|(newmonth.day==4)|(newmonth.day==5)|(newmonth.day==6)|(newmonth.day==7)]

In [21]:
print('the mean of people vaccinated per hundred in Israel is:',israelmean['people_vaccinated_per_hundred'].mean())

the mean of people vaccinated per hundred in Israel is: 65.30285714285715

# Q6

In [22]:
ourmonthnew=onlycountry.groupby('location')[['month','people_vaccinated_per_hundred']].max()

In [23]:
maximum=ourmonthnew.sort_values(by='people_vaccinated_per_hundred', ascending=False)

In [24]:
maximum.head(3)

           month  people_vaccinated_per_hundred
location
Gibraltar      7                         116.77
Pitcairn       7                         100.00
Malta          7                          90.52

---
# GOOD LUCK !!!!
---

In [25]:
# do not type below this line